<template>
    <div class="dataComponent">
        <h4>Registro de datos con Vue: </h4>
        <table>
            <thead>
                <tr>
                <th>Número de registro</th>
                <th>Nombre</th>
                <th>Información</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(values,index) in propMessage" :key="index">
                <td data-column="index">{{index}}</td>
                <td data-column="nombre">{{values.nombre}}</td>
                <td data-column="informacion">{{values.informacion}}</td>

      
                </tr>
            </tbody>
        </table>

               
<!-- {{propMessage}} -->
        
    </div>
</template>


<script>
import { prototype } from 'events';
export default {

    data(){
        return{


            alumno: [
                {
                    nombre: "raymundo",
                    informacion: "Registro prueba"
                }
            ]

        }
    },
    props: ['propMessage'],

     mounted () {
        // Do something useful with the data in the template


        console.log(typeof(this.propMessage));

        
        

    }
  


}
</script>

   

<style>

</style>
