<template>
    <div class="registerAlum">
        <h4>Registro de datos con Vue: </h4>

  <table>
  <thead>
    <tr>
      <th>Número de registro</th>
      <th>Nombre</th>
      <th>Escuela</th>
      <th>Estado de estudios</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(values,index)  in alumnos" :key="index">
      <td data-column="index">{{index}}</td>
      <td data-column="nombre">{{values.nombre}}</td>
      <td data-column="escuela">{{values.escuela}}</td>
      <td data-column="titulado">{{values.titulado}}</td>
    </tr>
  </tbody>
</table>


<component-register :information = "lengthdata"  @clicked="onClickChild" ></component-register>

<!--         
        <ul>
            <li v-for="(values,index)  in alumnos" :key="index">
                <span>{{values.nombre}}</span><br>Escuela: {{values.escuela}}<br> {{values.edad}} <br> 
                <div v-if="values.titulado">titulado</div> 
            </li>    
        </ul> -->

    <!-- <pre>{{$data}}</pre> -->

        <!-- <div class="alumnosAprobados">
            <h3>Alumnos aprobados:</h3>
                <ul>
                    <span v-for="(values,index)  in alumnos" :key="index">    
                        <div v-if="values.titulado">
                          <li>{{values.nombre}}</li>          
                        </div>
                    </span>
                </ul>
        </div>

        <form v-on:submit.prevent = "agregarAlumno">
            <input type="text" v-model="nombre" placeholder="Nombre">
            <input type="text" v-model="escuela" placeholder="Escuela">
            <input type="text" v-model="edad" placeholder="Edad">
            <input type="text" v-model="titulado" placeholder="titulado">
            <input type="submit" value="Registrar">
        </form>
    
        <div class="data" >
            <Button v-on:click="show = !show">Ver Alumnos reprobados</Button>
            <transition name="fade">
                <div class="infoReprobados" v-if="show">
                    <h3>Alumnos Reprobados:</h3>
                        <ul>
                            <span v-for="(values,index)  in alumnos" :key="index">    
                                <div v-if="!values.titulado">
                                    <li>{{values.nombre}}</li>          
                                </div>
                            </span>
                        </ul>
                </div>
            </transition>
        </div> -->

    </div>
</template>

<script>
    export default {

        data(){
            return{

                show: false,
                nombre : null,
                edad : null,
                escuela: null,
                titulado: null,
         
                alumnos: [{
                    'nombre' : 'Raymundo Alvarez Rico',
                    'edad': 25,
                    'escuela' : 'UPIICSA',
                    'titulado' : true
                },
                {
                    'nombre' : 'Luis Alvarez Rico',
                    'edad': 22,
                    'escuela' : 'ESCA',
                    'titulado' : false
                },
                {
                    'nombre' : 'Jesse Cueto ',
                    'edad': 25,
                    'escuela' : 'UPN',
                    'titulado' : true
                },
                {
                    'nombre' : 'Eduardo Oropeza ',
                    'edad': 25,
                    'escuela' : 'CHEVERIA',
                    'titulado' : false
                }
                ],

            }
        },
        methods:{
            onClickChild (value) {
                this.alumnos.push(value);
                
            },

            alumnosReprobados(){
              this.visibility = !this.visibility; 
            }
        },

        computed:{
            lengthdata: function(){
                return this.alumnos.length;
            }
        }

    }
</script>


<style scoped>

    .container {
        position: fixed;
        margin-top: 10px;
        /* margin-top: 60px; */
    }

    .data{
        margin-top: 20px;
    }

    li{
        margin-bottom: 10px;
    }

    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    }
    
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }





table { 
	width: 750px; 
	border-collapse: collapse; 
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}


@media 
only screen and (max-width: 760px)  {

	table { 
	  	width: 100%; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}

}
</style>




