<template>

<div class="registerContainer">
    <h4>Test Registro</h4>
    <p>Cantidad de registros: {{information}}</p>

    <div class="containerform">
         <form v-on:submit.prevent = "agregarAlumno" >
            <input type="text" v-model="nombre" placeholder="Nombre"><br>
            <input type="text" v-model="escuela" placeholder="Escuela"><br>
            <input type="text" v-model="edad" placeholder="Edad"><br>
            <input type="text" v-model="titulado" placeholder="titulado"><br>
            <input type="submit" value="Registrar">
        </form>
    </div>

      
<!-- <pre>{{alumnos}}</pre> -->
</div>

</template>

<script>
export default {
    data(){
        return{
            nombre : null,
            edad : null,
            escuela: null,
            titulado: null,
        }
    },

    props:['information'],
    methods:{
        agregarAlumno(event){
            this.$emit('clicked', {nombre: this.nombre, edad: this.edad, escuela: this.escuela, titulado: this.titulado });
                this.nombre = '';
                this.edad= ''; 
                this.escuela= '' ;
                this.titulado= ''; 
        }
    }
}
</script>

<style scoped>



input{
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}


</style>


